@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kanit", serif;
  background: black;
  overflow-x: hidden;
}

::selection {
  background: theme("colors.gold");
  color: theme("colors.purple.dark");
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
