@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&family=Syne:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .backdrop-blur-preloader {
    backdrop-filter: blur(8px);
  }
}
